<div class="popup js-popup">
  <div class="popup__wrapper js-popup-wrapper">
    <button class="popup__close-btn js-close-popup" type="button" area-label="Закрыть окно"></button>
    <p class="popup__text">
        Не удалось авторизоваться!
        <br>
        Отключите, пожалуйста, в вашем браузере блокировку всплывающих окон.
    </p>
  </div>
</div>
