.all-friends {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 50%;
  flex-grow: 1;

  @media (min-width: 680px) {
    flex-basis: 50%;
    overflow: auto;
  }

  @media (min-width: 768px) {
    flex-basis: 50%;
  }
}

.all-friends__container {
  flex-grow: 1;
  background-color: $white;
}

.all-friends__list-block {
  overflow: scroll;
  height: calc(50vh - 110px);

  @media (min-width: 768px) {
    height: calc(100vh - 222px);
  }
}

.all-friends__list {
  padding: 0;
}
