.search {
  position: relative;
}

.search__label {
  position: absolute;
  top: 55%;
  left: 10px;
  transform: translateY(-50%);
}

.search__icon--list {
  fill: $white;
}

.search__input {
  -webkit-appearance: none;
  width: 100%;
  padding: 12.5px 50px;
  border: 0;
  font-size: 1.2rem;
  background-color: rgba($white, .2);
  color: $space-color;

  @media (min-width: 768px) {
    padding: 18px 50px;
    font-size: 16px;
  }

  &:focus {
    outline-color: $gray-color;
    box-shadow: 0 0 10px 2px $gray-color;
  }
}

.search__input--your {
  background-color: rgba($smoke-color, .3);
}

.search__input--full {
  color: $white;

  &::placeholder {
    color: $smoke-color;
  }

  &:focus {
    outline-color: $smoke-color;
    box-shadow: 0 0 8px 2px $smoke-color;

  }
}
