@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@import "scss/item";

body {
    margin: 0;
}

ul {
    margin: 0;
}

svg {
    fill: #d9d1dc;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    background: linear-gradient(to bottom, #57375c 0%, #79445e 50%, #9a4f63 100%);

    @media (min-width: 680px) {
        display: flex;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin: 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.header__save-btn {
    margin: 10px 20px;
    padding: 10px 20px;
    border: 1px solid #57375c;
    border-radius: 20px;
    background-color: rgba(248, 248, 248, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #57375c;
    cursor: pointer;
}

.title {
    margin: 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.your-friends {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

    &__list-block {
        height: calc(100vh - 195px);
        overflow: scroll;
    }

    &__list {
        padding: 0;
    }
}

.your-friends__container {
    flex-grow: 1;
    background-color: #fff;

}

.friends-list {
    flex-basis: 50%;

    &__list-block {
        height: calc(100vh - 195px);
        overflow: scroll;
    }
}

.friends-list__list {
    height: 100%;
    padding: 0;
}

.search {
    position: relative;
}

.search__label {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

.search__input {
    width: 100%;
    padding: 18px 50px;
    border: 0;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #dad3db;

    &--your {
        background-color: #f8f8f8;
    }
}
