.item {
  position: relative;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  color: #130b1a;
  cursor: move;

  &--in-list {
    color: #fff;
  }

  &__img {
    border-radius: 50%;
  }

  &__name {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  &__toggle-btn {
    position: absolute;
    right: 25px;
    padding: 0;
    border: 0;
    height: 26px;
    width: 26px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMzggMjZoLTEydjEyaC00di0xMmgtMTJ2LTRoMTJ2LTEyaDR2MTJoMTJ2NHoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
  }

  &--in-list .item__toggle-btn {
    transform: rotate(45deg);
  }
}
